<div class="show_container">
  <main>
    <%= link_to("前ページに戻る", :back, class:"show_btn") %>
    <%= link_to("クーポン", :back, class:"show_btn") %>
  
    <div class="name_area">
      <div class="name">
        <h2><%= @target.name_ja %></h2>
        <p><%= @target.name_en %></p>
      </div>
      <div class="tag_area">
        <div class="search_tag"><%= @target.area_ja %></div>
        <div class="search_tag"><%= @target.category_ja %></div>
      </div>
    </div>

    <div class="show_pic_area">
      <div class="show_pic_main_area">
        <% if @target.picture1 %>
            <img src="/assets/<%= @target.picture1 %>" id="pic_main_<%= @target.id %>">
          <% else %>
            <img src="/assets/comming_soon.jpg" id="pic_main_<%= @target.id %>">
        <% end %> 
      </div>
      <div class="show_pic_sub_area">
        <% if @target.picture1 %>
            <img src="/assets/<%= @target.picture1 %>" id="pic_sub1_<%= @target.id %>">
          <% else %>
            <img src="/assets/comming_soon.jpg" id="pic_sub1_<%= @target.id %>">
        <% end %>
        <% if @target.picture2 %>
            <img src="/assets/<%= @target.picture2 %>" id="pic_sub2_<%= @target.id %>" >
          <% else %>
            <img src="/assets/comming_soon.jpg" id="pic_sub2_<%= @target.id %>">
        <% end %>
        <% if @target.picture3 %>
          <img src="/assets/<%= @target.picture3 %>" id="pic_sub3_<%= @target.id %>">
          <% else %>
          <img src="/assets/comming_soon.jpg" id="pic_sub3_<%= @target.id %>">
        <% end %>
        <% if @target.picture4 %>
          <img src="/assets/<%= @target.picture4 %>" id="pic_sub4_<%= @target.id %>">
        <% end %>
        <% if @target.picture5 %>
          <img src="/assets/<%= @target.picture5 %>" id="pic_sub5_<%= @target.id %>">
        <% end %>
        <% if @target.picture6 %>
          <img src="/assets/<%= @target.picture6 %>" id="pic_sub6_<%= @target.id %>">
        <% end %>
        <% if @target.picture7 %>
          <img src="/assets/<%= @target.picture7 %>" id="pic_sub7_<%= @target.id %>">
        <% end %>
        <% if @target.picture8 %>
          <img src="/assets/<%= @target.picture8 %>" id="pic_sub8_<%= @target.id %>">
        <% end %>
      </div>
    </div>

    <div class="show_description">
      <h3>概要</h3>
      <div class="show_article_area">
        <div class="show_article"><%= @target.description_ja %></div>
      </div>

      <% if @target.comment.present? %>
        <h3>店主・料理長のこだわり</h3>
        <div class="show_article_area">
          <div class="show_highlight_article_area">
            <div class="show_article_highlight"><%= @target.comment %></div>
            <div class="show_pic_artcile_area_highlight"><img src="/assets/<%= @target.comment_pic %>"></div>
          </div>
        </div>
      <% end %>

      <% if @target.highlight1.present? %>
        <h3>おすすめ</h3>
        <div class="show_article_area">
            <h4>料理・飲み物1</h4>
            <div class="show_highlight_article_area">
              <div class="show_article_highlight"><%= @target.highlight1 %></div>
              <div class="show_pic_artcile_area_highlight"><img src="/assets/<%= @target.highlight1_pic %>"></div>
            </div>
          <% if @target.highlight2.present? %>
            <h4>料理・飲み物2</h4>
            <div class="show_highlight_article_area">
              <div class="show_article_highlight"><%= @target.highlight2 %></div>
              <div class="show_pic_artcile_area_highlight"><img src="/assets/<%= @target.highlight2_pic %>"></div>
            </div>
          <% end %>
          <% if @target.highlight3.present? %>
            <h4>料理・飲み物3</h4>
            <div class="show_highlight_article_area">
              <div class="show_article_highlight"><%= @target.highlight3 %></div>
              <div class="show_pic_artcile_area_highlight"><img src="/assets/<%= @target.highlight3_pic %>"></div>
            </div>
          <% end %>
        </div>
      <% end %>

      <% if @target.direction1.present? %>
        <h3>行き方</h3>
        <div class="show_article_area">
            <div class="show_article"><%= @target.direction1 %></div>
          <% if @target.direction2.present? %>
            <div class="show_article"><%= @target.direction2 %></div>
          <% end %>
          <% if @target.direction3.present? %>
           <div class="show_article"><%= @target.direction3 %></div>
          <% end %>
        </div>
      <% end %>

      <h3>基本情報</h3>
      <div class="show_article_area">
        <div class="show_basic_items">
          <div class="show_basic_title">住所</div>
          <div class="show_basic_artcile"><a href="<%= @target.mapurl %>" target="_blank"><%= @target.address %></a></div>          
        </div>
        <div class="show_basic_items">
          <div class="show_basic_title">営業時間</div>
          <div class="show_basic_artcile"><%= @target.businesshours_ja %></div>          
        </div>
        <div class="show_basic_items">
          <div class="show_basic_title">定休日</div>
          <div class="show_basic_artcile"><%= @target.holidays_ja %></div>
        </div>
        <% if @target.contact_tel.present? %>
          <div class="show_basic_items">
            <div class="show_basic_title">連絡先</div>
            <div class="show_basic_artcile"><%= @target.contact_tel %></div>
          </div>
        <% end %>
        <% if @target.price_ja.present? %>
          <div class="show_basic_items">
            <div class="show_basic_title">平均予算</div>
            <div class="show_basic_artcile"><%= @target.price_ja %></div>
          </div>
        <% end %>
        <% if @target.payment_method.present? %>
          <div class="show_basic_items">
            <div class="show_basic_title">支払い方法</div>
            <div class="show_basic_artcile"><%= @target.payment_method %></div>
          </div>
        <% end %>
        <% if @target.capacity.present? %>
          <div class="show_basic_items">
            <div class="show_basic_title">キャパシティ</div>
            <div class="show_basic_artcile"><%= @target.capacity %></div>
          </div>
        <% end %>
        <% if @target.parking.present? %>
          <div class="show_basic_items">
            <div class="show_basic_title">駐車場</div>
            <div class="show_basic_artcile"><%= @target.parking %></div>
          </div>
        <% end %>
        <% if @target.url.present? %>
          <div class="show_basic_items">
            <div class="show_basic_title">Webサイト</div>
            <div class="show_basic_artcile"><a href="<%= @target.url %>" target="_blank"><%= @target.url %></a></div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="show_bottom_btns">
      <a href="#" class="show_btn">先頭に戻る</a>
      <%= link_to("前ページに戻る", :back, class:"show_btn") %>
    </div>
  </main>
</div>