<div class="show_container">
  <main>
    <%= link_to("前ページに戻る", :back, class:"show_btn") %>

    <div class="name_area">
      <div class="name">
        <h2><%= @target.name_ja %></h2>
        <p><%= @target.name_en %></p>
      </div>
      <div class="tag_area">
        <div class="search_tag"><%= @target.area_ja %></div>
        <div class="search_tag"><%= @target.category_ja %></div>
      </div>
    </div>

    <div class="show_pic_area">
      <div class="show_pic_main_area">
        <% if @target.picture1 %>
            <img src="/assets/<%= @target.picture1 %>" id="pic_main_<%= @target.id %>">
          <% else %>
            <img src="/assets/comming_soon.jpg" id="pic_main_<%= @target.id %>">
        <% end %> 
      </div>
      <div class="show_pic_sub_area">
        <% if @target.picture1 %>
            <img src="/assets/<%= @target.picture1 %>" id="pic_sub1_<%= @target.id %>">
          <% else %>
            <img src="/assets/comming_soon.jpg" id="pic_sub1_<%= @target.id %>">
        <% end %>
        <% if @target.picture2 %>
            <img src="/assets/<%= @target.picture2 %>" id="pic_sub2_<%= @target.id %>" >
          <% else %>
            <img src="/assets/comming_soon.jpg" id="pic_sub2_<%= @target.id %>">
        <% end %>
        <% if @target.picture3 %>
          <img src="/assets/<%= @target.picture3 %>" id="pic_sub3_<%= @target.id %>">
          <% else %>
          <img src="/assets/comming_soon.jpg" id="pic_sub3_<%= @target.id %>">
        <% end %>
      </div>
    </div>

    <div class="show_description">
      <h3>概要</h3>
      <div class="show_article_area">
        <div class="show_article"><%= @target.description_ja %></div>
      </div>

      <h3>見所</h3>
      <div class="show_article_area">
        <h4>見所1</h4>
        <div class="show_activity_article_area">
          <div class="show_article_activity">xxx</div>
          <div class="show_pic_artcile_area"><img src="#"></div>
        </div>
        <h4>見所2</h4>
        <div class="show_activity_article_area">
          <div class="show_article_activity">xxx</div>
          <div class="show_pic_artcile_area"><img src="#"></div>
        </div>
        <h4>見所3</h4>
        <div class="show_activity_article_area">
          <div class="show_article_activity">xxx</div>
          <div class="show_pic_artcile_area"><img src="#"></div>
        </div>
      </div>

      <h3>案内図</h3>
      <div class="show_article_area">
        <div class="show_article">xx</div>
      </div>

      <h3>行き方</h3>
      <div class="show_article_area">
        <div class="show_article">xxx</div>
      </div>

      <h3>基本情報</h3>
      <div class="show_article_area">
        <div class="show_basic_items">
          <div class="show_basic_title">住所</div>
          <div class="show_basic_artcile"><%= @target.address %></div>          
        </div>
        <div class="show_basic_items">
          <div class="show_basic_title">営業時間</div>
          <div class="show_basic_artcile"><%= @target.businesshours_ja %></div>          
        </div>
        <div class="show_basic_items">
          <div class="show_basic_title">定休日</div>
          <div class="show_basic_artcile"><%= @target.holidays_ja %></div>
        </div>
        <div class="show_basic_items">
          <div class="show_basic_title">連絡先</div>
          <div class="show_basic_artcile">xxx</div>
        </div>
        <div class="show_basic_items">
          <div class="show_basic_title">駐車場有無</div>
          <div class="show_basic_artcile">xx</div>
        </div>
        <div class="show_basic_items">
          <div class="show_basic_title">Webサイト</div>
          <div class="show_basic_artcile"><%= @target.url %></div>
        </div>
      </div>
    </div>

    <div class="show_bottom_btns">
      <a href="#" class="show_btn">先頭に戻る</a>
      <%= link_to("前ページに戻る", :back, class:"show_btn") %>
    </div>
  </main>
</div>